.style {
    background-color: black;
    color: white;
    padding: 17px;
    text-align: center;
    font-size: large;
    a:hover:not(.active) {
        background-color: red;
        color: white;
        border-radius: 5px;
        margin: 2px;
        padding: 4px;
    }
}

.h1 {
    text-align: left;
}